@{ ViewBag.Title = "Home Page"; }

<!-- Sección de bienvenida -->
<div class="jumbotron text-center bg-white">
    <img src="~/imagenes/logo.png" alt="Logo" class="logo-img">
    <h1>G.E CASTILLO ASOCIADOS</h1>
    <p class="lead">
        “Un mundo de servicios para nuestros clientes”
    </p>
    <p><a href="@Url.Action("About", "Home")" class="btn btn-primary btn-lg">Conócenos más &raquo;</a></p>
</div>

<div class="image-row">
    <img src="~/imagenes/banner1.jpg" alt="Banner 1" class="banner-img">
    <img src="~/imagenes/banner2.jpg" alt="Banner 2" class="banner-img">
    <img src="~/imagenes/banner3.jpg" alt="Banner 3" class="banner-img">
</div>

<style>
    .navbar {
        background-color: #800020;
    }

    .logo-img {
        width: 200px;
        height: auto;
    }

    .jumbotron.bg-white {
        background-color: white;
    }


    .image-row {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    .banner-img {
        width: 32%;
        height: auto;
    }
</style>